<div class='box-card'>
    <h1>Viewing Boards</h1>
    <p>To filter, select creator below...</p>

    <%= form_with url: "boards", method: :get do |f| %>
        <%=select_tag "email", options_from_collection_for_select(@emails, :to_str, :to_str)%>
        <%= f.submit  "Show Boards"%>
    <% end  %>

    <ul class='no-bullets'>
    <%@boards.each do |board|%>
        <li>
        <%= link_to board.name, board%>, <%=board.dimensions.length%> x <%=board.dimensions[0].length%>
        </li>
    <%end%>
    </ul>
    <p>
        <%= link_to "Clear Filter", boards_path%>
        <br/>
        <%= link_to "Create Your Own Board", new_board_path%>
    </p>
</div>